<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>K09MariaDB</display-name>
  
  
	<!-- 초기화 파라미터 -->
	
	<!-- 마리아DB 드라이버와 연결정보 -->
	<context-param>
		<param-name>MariaJDBCDriver</param-name>
		<param-value>org.mariadb.jdbc.Driver</param-value>
	</context-param>
	<context-param>
		<param-name>MaiaConnectURL</param-name>
		<param-value>jdbc:mariadb://127.0.0.1:3306/kosmo61_db</param-value>
	</context-param>
	<!-- 게시판 페이지처리에 사용할 상수 -->	
	<context-param>
		<param-name>PAGE_SIZE</param-name>
		<param-value>2</param-value>
	</context-param>
	<context-param>
		<param-name>BLOCK_PAGE</param-name>
		<param-value>5</param-value>
	</context-param>
	
	
	
	
	
	
	
	
	
	
	
	<welcome-file-list>
	    <welcome-file>index.html</welcome-file>
	    <welcome-file>index.htm</welcome-file>
	    <welcome-file>index.jsp</welcome-file>
	    <welcome-file>default.html</welcome-file>
	    <welcome-file>default.htm</welcome-file>
	    <welcome-file>default.jsp</welcome-file>
	</welcome-file-list>
	
</web-app>